---
layout: default
---
<div class="row">
  <div class="about-profile text-center">
    <div class="col-md-4">
      <img src="{{site.baseurl}}/images/profile.png" alt="Profile Picture" class="img-thumbnail" width="200" height="200">
      <h2 class="post-title">Anthony Gonzalez</h2>
      <h4>Software Engineer</h4>
    </div>
  </div>

  <div class="about-me">
    <div class="col-md-8">
      <h1 class="post-title">Greetings! I'm Anthony...</h1>
      <p>
        A software engineer based in the Dominican Republic who specializes in web development with Elixir and the Phoenix Framework.
      </p>
      <p>
        For as long as I can remember, I've always been interested in technology and computers, that's why I'm the go-to guy when anybody that knows me has any issues related to technology.
      </p>
      <p>
        Challenge is not in my vocabulary, I pride myself in my problem-solving ability, it does not mean that I know it all, but I know how to find solutions on my own. I enjoy change and learning new things.
      </p>
      <p>
        I love developing for the web, Elixir and the Phoenix Framework it's my main focus these days, I spend my days piping things up.
      </p>
    </div>
  </div>
</div>