---
layout: default
---
<div class="about-profile text-center">
  <img src="{{site.baseurl}}/images/profile.jpg" alt="Profile Picture" class="img-thumbnail" width="180" height="180">
  <h2 class="post-title">Anthony Gonzalez</h2>
  <h4>Software Engineer</h4>
</div>
</div>
<div class="about-me">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="post-title">Greetings! I'm Anthony</h1>
      <p>
        A software engineer based in the Dominican Republic who specializes in web development with Ruby on Rails and Javascript.
      </p>
      <p>
        For as long as I can remember, I've always been interested in technology and computers, that's why I'm the go-to guy when anybody that knows me has any issues related to technology.
      </p>
      <p>
        Challenge is not in my vocabulary, I pride myself in my problem-solving ability, it does not mean that I know it all, but I know how to find solutions on my own. I enjoy change and learning new things.
      </p>
      <p>
        I love developing for the web, Ruby is my preferred programming language because is fun and its friendly, eager and passionate community all over the world is inspiring, that's why I really enjoy creating working code with the web development framework Ruby on Rails but I won't mind adapting myself to the right tool for the job.
      </p>
    </div>
  </div>
</div>