---
layout: default-home
---

<div class="home">
  <div class="row">
    <div class="col-md-12">
      <h1 class="post-title text-center">Projects</h1>
      <ul class="media-list">
        <li class="media">
          <div class="media-left">
            <img class="media-object img-thumbnail" src="{{site.baseurl}}/images/lancer/lancer.png" alt="Freelancer Clone" width="400px" height="250px">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Freelancer Clone</h3>
            <p>
              Freelancer clone made with elixir/phoenix.
            </p>
            <p class="btn-group" role="group" aria-label="...">
              <a href="https://lancer-elixir-freelancer-clone.herokuapp.com/" class="btn btn-default" target="_blank">LIVE DEMO</a>
              <a href="https://github.com/boilercoding/lancer" class="btn btn-default" target="_blank">CODE ON GITHUB</a>
              <button data-toggle="modal" data-target=".lancer-screenshots" class="btn btn-default">SCREENSHOTS</button>
              <div class="modal fade lancer-screenshots" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    {% include_relative _layouts/lancer-carousel.html %}
                  </div>
                </div>
              </div>
            </p>
            <p>
              Tech Stack:
              <span class="label label-info">Elixir</span>
              <span class="label label-info">Phoenix Framework</span>
              <span class="label label-info">HTML</span>
              <span class="label label-info">CSS</span>
              <span class="label label-info">Bootstrap</span>
              <span class="label label-info">Javascript</span>
              <span class="label label-info">Jquery</span>
            </p>
          </div>
        </li>

        <li class="media">
          <div class="media-left">
            <img class="media-object img-thumbnail" src="{{site.baseurl}}/images/crm/crm.png" alt="Crm" width="400px" height="250px">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Contact Management</h3>
            <p>
              Crm contact manager system made with elixir/phoenix and Drab to handle the browser user interface.
            </p>
            <p class="btn-group" role="group" aria-label="...">
              <a href="https://elixir-phoenix-crm.herokuapp.com/" class="btn btn-default" target="_blank">LIVE DEMO</a>
              <a href="https://github.com/boilercoding/crm" class="btn btn-default" target="_blank">CODE ON GITHUB</a>
              <button data-toggle="modal" data-target=".crm-screenshots" class="btn btn-default">SCREENSHOTS</button>
              <div class="modal fade crm-screenshots" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    {% include_relative _layouts/crm-carousel.html %}
                  </div>
                </div>
              </div>
            </p>
            <p>
              Tech Stack:
              <span class="label label-info">Elixir</span>
              <span class="label label-info">Phoenix Framework</span>
              <span class="label label-info">HTML</span>
              <span class="label label-info">CSS</span>
              <span class="label label-info">Bootstrap</span>
              <span class="label label-info">Javascript</span>
              <span class="label label-info">Jquery</span>
              <span class="label label-info">Drab</span>
            </p>
          </div>
        </li>

        <li class="media">
          <div class="media-left">
            <img class="media-object img-thumbnail" src="{{site.baseurl}}/images/fmylife/fmylife.png" alt="Fmylife" width="400px" height="250px">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Fmylife clone</h3>
            <p>
              Fmylife clone made with elixir/phoenix and Drab to handle the browser user interface.
            </p>
            <p class="btn-group" role="group" aria-label="...">
              <a href="https://elixir-fmylife-clone.herokuapp.com/" class="btn btn-default" target="_blank">LIVE DEMO</a>
              <a href="https://github.com/boilercoding/fmylife" class="btn btn-default" target="_blank">CODE ON GITHUB</a>
              <button data-toggle="modal" data-target=".fmylife-screenshots" class="btn btn-default">SCREENSHOTS</button>
              <div class="modal fade fmylife-screenshots" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    {% include_relative _layouts/fmylife-carousel.html %}
                  </div>
                </div>
              </div>
            </p>
            <p>
              Tech Stack:
              <span class="label label-info">Elixir</span>
              <span class="label label-info">Phoenix Framework</span>
              <span class="label label-info">HTML</span>
              <span class="label label-info">CSS</span>
              <span class="label label-info">Bootstrap</span>
              <span class="label label-info">Javascript</span>
              <span class="label label-info">Jquery</span>
              <span class="label label-info">Drab</span>
            </p>
          </div>
        </li>
      </ul>
    </div> <!-- col-md-12 -->
  </div> <!-- row -->
</div>