---
layout: default
---

<div class="home">
  <div class="row">
    <div class="col-md-12">
      <ul class="media-list">
        {% for post in site.posts %}
        <li class="media">
          <div class="media-left">
            <a href="{{ post.url | prepend: site.baseurl }}" alt="{{post.title}}">
              {% if post.img %}
                  <img class="media-object img-thumbnail" src="{{site.baseurl}}/images/{{post.img}}" alt="{{post.title}}" width="200px" height="150px">
              {% else %}
                  <img class="media-object img-thumbnail" src="{{site.baseurl}}/images/logo-big.png" alt="{{site.title}}" width="200px" height="150px">
              {% endif %}
            </a>
          </div>
          <div class="media-body">
            <a href="{{ post.url | prepend: site.baseurl }}" alt="{{post.title}}"><h3 class="media-heading">{{post.title}}</h3></a>
            <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}<a href="{{ post.url | prepend: site.baseurl }}">Read</a></p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div> <!-- col-md-8 col-md-offset-2 -->
  </div> <!-- row -->
</div>